<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="js5.css">
		<title>Title!</title>
	</head>
	<body ng-controller="myController">
		<div class="div1" ng-show="showH1"><p ng-click="click1()">{{text1}}</p></div>
		<div class="div1" ng-show="showInput1"><input ng-model="text1" ng-blur="blur1()"></div>
		<div class="div2" ng-show="showH4"><p ng-click="click2()">{{text2}}</p></div>
		<div class="div2" ng-show="showInput2"><input ng-model="text2" ng-blur="blur2()"></div>
		<div class="div3" ng-show="showP1"><p ng-click="click3()">{{text3}}</p></div>
		<div class="div3" ng-show="showInput3"><input ng-model="text3" ng-blur="blur3()"></div>
		<div class="div4" ng-show="showP2"><p ng-click="click4()">{{text4}}</p></div>
		<div class="div4" ng-show="showInput4"><input ng-model="text4" ng-blur="blur4()"></div>
		<script type="text/javascript" src="js5.js"></script>
	</body>
</html>
