html {
	background-color:blue;
}

.div1 {
	height:19px;
	width:100px;
	margin:16px 0px;
}
/*.div1 h1 {
	height:30px;
	width:100px;*/

.div2 {
	height:19px;
	width:100px;
	margin:16px 0px;
}
/*.div2 h4 {
	height:30px;
	width:100px;
}*/
.div3 {
	height:19px;
	width:100px;
	margin:16px 0px;
}
.div4 {
	height:19px;
	width:100px;
	margin:16px 0px;
}

